@import url('http://fonts.googleapis.com/css?family=Nixie+One');


#text {
  position: relative;
	text-align: center;
	vertical-align: middle;
  font-family: 'Wire One', sans-serif;
  font-size: 8em;
  font-weight:700;
  -webkit-font-smoothing: antialiased;
}

.on{
  color: #dde5ee;
  text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5),
      0 0 20px #ffffff,
      0 0 100px #1e54c9,
      0 0 200px #194ab2,
      0 0 500px #0a338b;
}